@import url(common-styles.css);

.big-block{
	display: flex;
	margin-left: 300px;
	margin-right: 1%;
	margin-top: 20px;
}
.big-block-container{
	display: flex;
	flex:1;
	position: relative;
	height: 350px;
}
.cap-big-block{
	position: absolute;
	top: -30px;
	left: 25px;
	right: 25px;
	height: 75px;
	background-color: rgb(51, 34, 112);
	
}
.table-big-block-1 th:first-child{
	padding-top: 20px;
	padding-left: 15px;
	font-size: 20px;
	color: aliceblue;
}
table th a{
	color: aliceblue;
}

.checkbox{
	padding-left: 20px;
	padding-top: 70px;
	font-size: 20px;
}


.cap-font{
	padding-left: 15px;
	padding-top: 20px;
	font-size: 20px;
	color: aliceblue;
}

.table-big-block{
	padding-left: 20px;
	padding-top: 70px;
	width:100%;
	height: 100%;
	border-spacing: 0; 
	font-size: 20px;
}

.table-container{
	height: 100%;
}

.table-big-block td{
text-align: center;
border-bottom: 2px solid black;
}
.table-big-block th{
	border-bottom: 2px solid black;
}
.last-child>td{
	border-bottom: 0;
}
.indent-three{
	margin-left: 20px;
}

@media screen and (min-width:800px) and (max-width:1000px) {
	.big-block{
		flex-wrap: wrap;
		flex-direction: column;
		margin-left: 250px;
	}
	.big-block-container{
		flex: 1;
	}
	.indent-three{
		margin-left: 0;
		margin-top: 30px;
	}
}
@media screen and (min-width:650px) and (max-width:800px) {
	.big-block{
		flex-wrap: wrap;
		flex-direction: column;
		margin-left: 1%;
	}
	.big-block-container{
		flex: 1;
	}
	.indent-three{
		margin-left: 0;
		margin-top: 30px;
	}
}

@media screen and (min-width:500px) and (max-width:650px) {
	.big-block{
		flex-wrap: wrap;
		flex-direction: column;
		margin-left: 1%;
	}
	.big-block-container{
		flex: 1;
	}
	.indent-three{
		margin-left: 0;
		margin-top: 30px;
	}
}

@media screen and (max-width:500px) {
	.big-block{
		flex-wrap: wrap;
		flex-direction: column;
		margin-left: 1%;
	}
	.big-block-container{
		flex: 1;
	}
	.indent-three{
		margin-left: 0;
		margin-top: 30px;
	}
}


